<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

    <div class="container">

        <form action="/add_order" method="post" class="form">
            <h3>Add Order</h3>
            <label for="item">Item:</label>
            <input type="text" id="item" name="item" required>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <button type="submit">Add Order</button>
        </form>

    </div>
    
</body>
</html>