<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">

        <form action="/add_customer" method="post" class="form">
            <h3>Add Customer</h3>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="code">Code:</label>
            <input type="text" id="code" name="code" required>

            <button type="submit">Add Customer</button>
        </form>

    </div>
    
</body>
</html>